<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.demo.mvc.MapperInterface.RoleMapper">

    <select id="getRoleInfo" parameterType="java.lang.Long" resultType="com.demo.mvc.model.Role">
      SELECT r.role_id as id, r.role_name as role  FROM student_manager.role r  where role_id = #{roleId}
    </select>
</mapper>