<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.demo.mvc.MapperInterface.UserRoleMapper">

    <select id="getRoleByUserId" resultType="com.demo.mvc.model.UserRole">
        SELECT er.end_user_id as userId,
               er.role_id     as roleId,
          FROM student_manager.end_user_role er
         WHERE er.end_user_id = #{userId}
    </select>
</mapper>